.metadata

# Bootloader using sd card ignore repo & files
/BootloaderUsingSdCard/Application/.settings
/BootloaderUsingSdCard/Application/Debug
/BootloaderUsingSdCard/Application/Drivers
/BootloaderUsingSdCard/Application/.cproject
/BootloaderUsingSdCard/Application/.mxproject
/BootloaderUsingSdCard/Application/Core/Startup
/BootloaderUsingSdCard/Application/Core/Src/Backup
/BootloaderUsingSdCard/Application/Core/Inc/Backup
/BootloaderUsingSdCard/Application/*.launch

/BootloaderUsingSdCard/Bootloader/.settings
/BootloaderUsingSdCard/Bootloader/Debug
/BootloaderUsingSdCard/Bootloader/Drivers
/BootloaderUsingSdCard/Bootloader/.cproject
/BootloaderUsingSdCard/Bootloader/.mxproject
/BootloaderUsingSdCard/Bootloader/Core/Startup
/BootloaderUsingSdCard/Bootloader/Core/Src/Backup
/BootloaderUsingSdCard/Bootloader/Core/Inc/Backup
/BootloaderUsingSdCard/Bootloader/*.launch

# Bootloader using uart ignore repo & files
/BootloaderUsingUart/bootloader1.0/.settings
/BootloaderUsingUart/bootloader1.0/Debug
/BootloaderUsingUart/bootloader1.0/Drivers
/BootloaderUsingUart/bootloader1.0/.cproject
/BootloaderUsingUart/bootloader1.0/.mxproject
/BootloaderUsingUart/bootloader1.0/Core/Startup
/BootloaderUsingUart/bootloader1.0/Core/Src/Backup
/BootloaderUsingUart/bootloader1.0/Core/Inc/Backup
/BootloaderUsingUart/bootloader1.0/*.launch

/BootloaderUsingUart/application1.0/.settings
/BootloaderUsingUart/application1.0/Debug
/BootloaderUsingUart/application1.0/Drivers
/BootloaderUsingUart/application1.0/.cproject
/BootloaderUsingUart/application1.0/.mxproject
/BootloaderUsingUart/application1.0/Core/Startup
/BootloaderUsingUart/application1.0/Core/Src/Backup
/BootloaderUsingUart/application1.0/Core/Inc/Backup
/BootloaderUsingUart/application1.0/*.launch

/BootloaderUsingUart/HostApp/PcTool/etx_ota_app.exe

# Bootloader 2slot ignore repo & files
/Bootloader2Slot/Bootloader2.0/.settings
/Bootloader2Slot/Bootloader2.0/Debug
/Bootloader2Slot/Bootloader2.0/Drivers
/Bootloader2Slot/Bootloader2.0/.cproject
/Bootloader2Slot/Bootloader2.0/.mxproject
/Bootloader2Slot/Bootloader2.0/Core/Startup
/Bootloader2Slot/Bootloader2.0/Core/Src/Backup
/Bootloader2Slot/Bootloader2.0/Core/Inc/Backup
/Bootloader2Slot/Bootloader2.0/*.launch

/Bootloader2Slot/Application2.0/application1/.settings
/Bootloader2Slot/Application2.0/application1/Debug
/Bootloader2Slot/Application2.0/application1/Drivers
/Bootloader2Slot/Application2.0/application1/.cproject
/Bootloader2Slot/Application2.0/application1/.mxproject
/Bootloader2Slot/Application2.0/application1/Core/Startup
/Bootloader2Slot/Application2.0/application1/Core/Src/Backup
/Bootloader2Slot/Application2.0/application1/Core/Inc/Backup
/Bootloader2Slot/Application2.0/application1/*.launch

/Bootloader2Slot/Application2.0/application1Test/.settings
/Bootloader2Slot/Application2.0/application1Test/Debug
/Bootloader2Slot/Application2.0/application1Test/Drivers
/Bootloader2Slot/Application2.0/application1Test/.cproject
/Bootloader2Slot/Application2.0/application1Test/.mxproject
/Bootloader2Slot/Application2.0/application1Test/Core/Startup
/Bootloader2Slot/Application2.0/application1Test/Core/Src/Backup
/Bootloader2Slot/Application2.0/application1Test/Core/Inc/Backup
/Bootloader2Slot/Application2.0/application1Test/*.launch

/Bootloader2Slot/Application2.0/application2/.settings
/Bootloader2Slot/Application2.0/application2/Debug
/Bootloader2Slot/Application2.0/application2/Drivers
/Bootloader2Slot/Application2.0/application2/.cproject
/Bootloader2Slot/Application2.0/application2/.mxproject
/Bootloader2Slot/Application2.0/application2/Core/Startup
/Bootloader2Slot/Application2.0/application2/Core/Src/Backup
/Bootloader2Slot/Application2.0/application2/Core/Inc/Backup
/Bootloader2Slot/Application2.0/application2/*.launch

/Bootloader2Slot/Application2.0/application2Test/.settings
/Bootloader2Slot/Application2.0/application2Test/Debug
/Bootloader2Slot/Application2.0/application2Test/Drivers
/Bootloader2Slot/Application2.0/application2Test/.cproject
/Bootloader2Slot/Application2.0/application2Test/.mxproject
/Bootloader2Slot/Application2.0/application2Test/Core/Startup
/Bootloader2Slot/Application2.0/application2Test/Core/Src/Backup
/Bootloader2Slot/Application2.0/application2Test/Core/Inc/Backup
/Bootloader2Slot/Application2.0/application2Test/*.launch
