.metadata

# Bootloader using sd card ignore repo & files
/BootloaderUsingSdCard/Application/.settings
/BootloaderUsingSdCard/Application/Debug
/BootloaderUsingSdCard/Application/Drivers
/BootloaderUsingSdCard/Application/.cproject
/BootloaderUsingSdCard/Application/.mxproject
/BootloaderUsingSdCard/Application/Core/Startup
/BootloaderUsingSdCard/Application/Core/Src/Backup
/BootloaderUsingSdCard/Application/Core/Inc/Backup
/BootloaderUsingSdCard/Application/*.launch

/BootloaderUsingSdCard/Bootloader/.settings
/BootloaderUsingSdCard/Bootloader/Debug
/BootloaderUsingSdCard/Bootloader/Drivers
/BootloaderUsingSdCard/Bootloader/.cproject
/BootloaderUsingSdCard/Bootloader/.mxproject
/BootloaderUsingSdCard/Bootloader/Core/Startup
/BootloaderUsingSdCard/Bootloader/Core/Src/Backup
/BootloaderUsingSdCard/Bootloader/Core/Inc/Backup
/BootloaderUsingSdCard/Bootloader/*.launch

# Bootloader using uart ignore repo & files
/BootloaderUsingUart/bootloader1.0/.settings
/BootloaderUsingUart/bootloader1.0/Debug
/BootloaderUsingUart/bootloader1.0/Drivers
/BootloaderUsingUart/bootloader1.0/.cproject
/BootloaderUsingUart/bootloader1.0/.mxproject
/BootloaderUsingUart/bootloader1.0/Core/Startup
/BootloaderUsingUart/bootloader1.0/Core/Src/Backup
/BootloaderUsingUart/bootloader1.0/Core/Inc/Backup
/BootloaderUsingUart/bootloader1.0/*.launch

/BootloaderUsingUart/application1.0/.settings
/BootloaderUsingUart/application1.0/Debug
/BootloaderUsingUart/application1.0/Drivers
/BootloaderUsingUart/application1.0/.cproject
/BootloaderUsingUart/application1.0/.mxproject
/BootloaderUsingUart/application1.0/Core/Startup
/BootloaderUsingUart/application1.0/Core/Src/Backup
/BootloaderUsingUart/application1.0/Core/Inc/Backup
/BootloaderUsingUart/application1.0/*.launch

/BootloaderUsingUart/HostApp/PcTool/etx_ota_app.exe

# Bootloader 2slot ignore repo & files
/Bootloader2Slot/Bootloader2.0/.settings
/Bootloader2Slot/Bootloader2.0/Debug
/Bootloader2Slot/Bootloader2.0/Drivers
/Bootloader2Slot/Bootloader2.0/.cproject
/Bootloader2Slot/Bootloader2.0/.mxproject
/Bootloader2Slot/Bootloader2.0/Core/Startup
/Bootloader2Slot/Bootloader2.0/Core/Src/Backup
/Bootloader2Slot/Bootloader2.0/Core/Inc/Backup
/Bootloader2Slot/Bootloader2.0/*.launch

/Bootloader2Slot/Application2.0/application1/.settings
/Bootloader2Slot/Application2.0/application1/Debug
/Bootloader2Slot/Application2.0/application1/Drivers
/Bootloader2Slot/Application2.0/application1/.cproject
/Bootloader2Slot/Application2.0/application1/.mxproject
/Bootloader2Slot/Application2.0/application1/Core/Startup
/Bootloader2Slot/Application2.0/application1/Core/Src/Backup
/Bootloader2Slot/Application2.0/application1/Core/Inc/Backup
/Bootloader2Slot/Application2.0/application1/*.launch

/Bootloader2Slot/Application2.0/application1Test/.settings
/Bootloader2Slot/Application2.0/application1Test/Debug
/Bootloader2Slot/Application2.0/application1Test/Drivers
/Bootloader2Slot/Application2.0/application1Test/.cproject
/Bootloader2Slot/Application2.0/application1Test/.mxproject
/Bootloader2Slot/Application2.0/application1Test/Core/Startup
/Bootloader2Slot/Application2.0/application1Test/Core/Src/Backup
/Bootloader2Slot/Application2.0/application1Test/Core/Inc/Backup
/Bootloader2Slot/Application2.0/application1Test/*.launch

/Bootloader2Slot/Application2.0/application2/.settings
/Bootloader2Slot/Application2.0/application2/Debug
/Bootloader2Slot/Application2.0/application2/Drivers
/Bootloader2Slot/Application2.0/application2/.cproject
/Bootloader2Slot/Application2.0/application2/.mxproject
/Bootloader2Slot/Application2.0/application2/Core/Startup
/Bootloader2Slot/Application2.0/application2/Core/Src/Backup
/Bootloader2Slot/Application2.0/application2/Core/Inc/Backup
/Bootloader2Slot/Application2.0/application2/*.launch

/Bootloader2Slot/Application2.0/application2Test/.settings
/Bootloader2Slot/Application2.0/application2Test/Debug
/Bootloader2Slot/Application2.0/application2Test/Drivers
/Bootloader2Slot/Application2.0/application2Test/.cproject
/Bootloader2Slot/Application2.0/application2Test/.mxproject
/Bootloader2Slot/Application2.0/application2Test/Core/Startup
/Bootloader2Slot/Application2.0/application2Test/Core/Src/Backup
/Bootloader2Slot/Application2.0/application2Test/Core/Inc/Backup
/Bootloader2Slot/Application2.0/application2Test/*.launch


# Bootloader using USB(F401) ignore repo & files
/BootloaderUsingUSB/.settings
/BootloaderUsingUSB/.project

/BootloaderUsingUSB/Application/.settings
/BootloaderUsingUSB/Application/Debug
/BootloaderUsingUSB/Application/Drivers
/BootloaderUsingUSB/Application/.cproject
/BootloaderUsingUSB/Application/.mxproject
/BootloaderUsingUSB/Application/Core/Startup
/BootloaderUsingUSB/Application/Core/Src/Backup
/BootloaderUsingUSB/Application/Core/Inc/Backup
/BootloaderUsingUSB/Application/*.launch

/BootloaderUsingUSB/Bootloader/.settings
/BootloaderUsingUSB/Bootloader/Debug
/BootloaderUsingUSB/Bootloader/Drivers
/BootloaderUsingUSB/Bootloader/.cproject
/BootloaderUsingUSB/Bootloader/.mxproject
/BootloaderUsingUSB/Bootloader/Core/Startup
/BootloaderUsingUSB/Bootloader/Core/Src/Backup
/BootloaderUsingUSB/Bootloader/Core/Inc/Backup
/BootloaderUsingUSB/Bootloader/*.launch


# Bootloader using USB(F407) ignore repo & files
/F407_bootloader_usb/.settings
/F407_bootloader_usb/.project

/F407_bootloader_usb/F407_usb_app/.settings
/F407_bootloader_usb/F407_usb_app/Debug
/F407_bootloader_usb/F407_usb_app/Drivers
/F407_bootloader_usb/F407_usb_app/.cproject
/F407_bootloader_usb/F407_usb_app/.mxproject
/F407_bootloader_usb/F407_usb_app/Core/Startup
/F407_bootloader_usb/F407_usb_app/Core/Src/Backup
/F407_bootloader_usb/F407_usb_app/Core/Inc/Backup
/F407_bootloader_usb/F407_usb_app/*.launch

/F407_bootloader_usb/F407_usb_boot/.settings
/F407_bootloader_usb/F407_usb_boot/Debug
/F407_bootloader_usb/F407_usb_boot/Drivers
/F407_bootloader_usb/F407_usb_boot/.cproject
/F407_bootloader_usb/F407_usb_boot/.mxproject
/F407_bootloader_usb/F407_usb_boot/Core/Startup
/F407_bootloader_usb/F407_usb_boot/Core/Src/Backup
/F407_bootloader_usb/F407_usb_boot/Core/Inc/Backup
/F407_bootloader_usb/F407_usb_boot/*.launch