.metadata

/BootloaderUsingSdCard/Application/.settings
/BootloaderUsingSdCard/Application/Debug
/BootloaderUsingSdCard/Application/Drivers
/BootloaderUsingSdCard/Application/.cproject
/BootloaderUsingSdCard/Application/.mxproject
/BootloaderUsingSdCard/Application/Core/Startup
/BootloaderUsingSdCard/Application/Core/Src/Backup
/BootloaderUsingSdCard/Application/Core/Inc/Backup
/BootloaderUsingSdCard/Application/*.launch

/BootloaderUsingSdCard/Bootloader/.settings
/BootloaderUsingSdCard/Bootloader/Debug
/BootloaderUsingSdCard/Bootloader/Drivers
/BootloaderUsingSdCard/Bootloader/.cproject
/BootloaderUsingSdCard/Bootloader/.mxproject
/BootloaderUsingSdCard/Bootloader/Core/Startup
/BootloaderUsingSdCard/Bootloader/Core/Src/Backup
/BootloaderUsingSdCard/Bootloader/Core/Inc/Backup
/BootloaderUsingSdCard/Bootloader/*.launch
